/*margin 4px*/
.bp-m-4 {
  margin: 4px !important;
}
.bp-mt-4 {
  margin-top: 4px !important;
}
.bp-mb-4 {
  margin-bottom: 4px !important;
}
.bp-ml-4 {
  margin-left: 4px !important;
}
.bp-mr-4 {
  margin-right: 4px !important;
}
.bp-my-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.bp-mx-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
/*padding 4px*/
.bp-p-4 {
  padding: 4px !important;
}
.bp-pt-4 {
  padding-top: 4px !important;
}
.bp-pb-4 {
  padding-bottom: 4px !important;
}
.bp-pl-4 {
  padding-left: 4px !important;
}
.bp-pr-4 {
  padding-right: 4px !important;
}
.bp-py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.bp-px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
/*margin 8px*/
.bp-m-8 {
  margin: 8px !important;
}
.bp-mt-8 {
  margin-top: 8px !important;
}
.bp-mb-8 {
  margin-bottom: 8px !important;
}
.bp-ml-8 {
  margin-left: 8px !important;
}
.bp-mr-8 {
  margin-right: 8px !important;
}
.bp-my-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.bp-mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
/*padding 8px*/
.bp-p-8 {
  padding: 8px !important;
}
.bp-pt-8 {
  padding-top: 8px !important;
}
.bp-pb-8 {
  padding-bottom: 8px !important;
}
.bp-pl-8 {
  padding-left: 8px !important;
}
.bp-pr-8 {
  padding-right: 8px !important;
}
.bp-py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.bp-px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
/*margin 12px*/
.bp-m-12 {
  margin: 12px !important;
}
.bp-mt-12 {
  margin-top: 12px !important;
}
.bp-mb-12 {
  margin-bottom: 12px !important;
}
.bp-ml-12 {
  margin-left: 12px !important;
}
.bp-mr-12 {
  margin-right: 12px !important;
}
.bp-my-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.bp-mx-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
/*padding 12px*/
.bp-p-12 {
  padding: 12px !important;
}
.bp-pt-12 {
  padding-top: 12px !important;
}
.bp-pb-12 {
  padding-bottom: 12px !important;
}
.bp-pl-12 {
  padding-left: 12px !important;
}
.bp-pr-12 {
  padding-right: 12px !important;
}
.bp-py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.bp-px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
/*margin 16px*/
.bp-m-16 {
  margin: 16px !important;
}
.bp-mt-16 {
  margin-top: 16px !important;
}
.bp-mb-16 {
  margin-bottom: 16px !important;
}
.bp-ml-16 {
  margin-left: 16px !important;
}
.bp-mr-16 {
  margin-right: 16px !important;
}
.bp-my-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.bp-mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
/*padding 16px*/
.bp-p-16 {
  padding: 16px !important;
}
.bp-pt-16 {
  padding-top: 16px !important;
}
.bp-pb-16 {
  padding-bottom: 16px !important;
}
.bp-pl-16 {
  padding-left: 16px !important;
}
.bp-pr-16 {
  padding-right: 16px !important;
}
.bp-py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.bp-px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
/*margin 20px*/
.bp-m-20 {
  margin: 20px !important;
}
.bp-mt-20 {
  margin-top: 20px !important;
}
.bp-mb-20 {
  margin-bottom: 20px !important;
}
.bp-ml-20 {
  margin-left: 20px !important;
}
.bp-mr-20 {
  margin-right: 20px !important;
}
.bp-my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.bp-mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
/*padding 20px*/
.bp-p-20 {
  padding: 20px !important;
}
.bp-pt-20 {
  padding-top: 20px !important;
}
.bp-pb-20 {
  padding-bottom: 20px !important;
}
.bp-pl-20 {
  padding-left: 20px !important;
}
.bp-pr-20 {
  padding-right: 20px !important;
}
.bp-py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.bp-px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
/*margin 24px*/
.bp-m-24 {
  margin: 24px !important;
}
.bp-mt-24 {
  margin-top: 24px !important;
}
.bp-mb-24 {
  margin-bottom: 24px !important;
}
.bp-ml-24 {
  margin-left: 24px !important;
}
.bp-mr-24 {
  margin-right: 24px !important;
}
.bp-my-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.bp-mx-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
/*padding 24px*/
.bp-p-24 {
  padding: 24px !important;
}
.bp-pt-24 {
  padding-top: 24px !important;
}
.bp-pb-24 {
  padding-bottom: 24px !important;
}
.bp-pl-24 {
  padding-left: 24px !important;
}
.bp-pr-24 {
  padding-right: 24px !important;
}
.bp-py-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.bp-px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
/*margin 32px*/
.bp-m-32 {
  margin: 32px !important;
}
.bp-mt-32 {
  margin-top: 32px !important;
}
.bp-mb-32 {
  margin-bottom: 32px !important;
}
.bp-ml-32 {
  margin-left: 32px !important;
}
.bp-mr-32 {
  margin-right: 32px !important;
}
.bp-my-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.bp-mx-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
/*padding 32px*/
.bp-p-32 {
  padding: 32px !important;
}
.bp-pt-32 {
  padding-top: 32px !important;
}
.bp-pb-32 {
  padding-bottom: 32px !important;
}
.bp-pl-32 {
  padding-left: 32px !important;
}
.bp-pr-32 {
  padding-right: 32px !important;
}
.bp-py-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.bp-px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
/*margin 40px*/
.bp-m-40 {
  margin: 40px !important;
}
.bp-mt-40 {
  margin-top: 40px !important;
}
.bp-mb-40 {
  margin-bottom: 40px !important;
}
.bp-ml-40 {
  margin-left: 40px !important;
}
.bp-mr-40 {
  margin-right: 40px !important;
}
.bp-my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.bp-mx-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
/*padding 40px*/
.bp-p-40 {
  padding: 40px !important;
}
.bp-pt-40 {
  padding-top: 40px !important;
}
.bp-pb-40 {
  padding-bottom: 40px !important;
}
.bp-pl-40 {
  padding-left: 40px !important;
}
.bp-pr-40 {
  padding-right: 40px !important;
}
.bp-py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.bp-px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
/*margin 48px*/
.bp-m-48 {
  margin: 48px !important;
}
.bp-mt-48 {
  margin-top: 48px !important;
}
.bp-mb-48 {
  margin-bottom: 48px !important;
}
.bp-ml-48 {
  margin-left: 48px !important;
}
.bp-mr-48 {
  margin-right: 48px !important;
}
.bp-my-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.bp-mx-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
/*padding 48px*/
.bp-p-48 {
  padding: 48px !important;
}
.bp-pt-48 {
  padding-top: 48px !important;
}
.bp-pb-48 {
  padding-bottom: 48px !important;
}
.bp-pl-48 {
  padding-left: 48px !important;
}
.bp-pr-48 {
  padding-right: 48px !important;
}
.bp-py-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.bp-px-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
/*margin 56px*/
.bp-m-56 {
  margin: 56px !important;
}
.bp-mt-56 {
  margin-top: 56px !important;
}
.bp-mb-56 {
  margin-bottom: 56px !important;
}
.bp-ml-56 {
  margin-left: 56px !important;
}
.bp-mr-56 {
  margin-right: 56px !important;
}
.bp-my-56 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}
.bp-mx-56 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}
/*padding 56px*/
.bp-p-56 {
  padding: 56px !important;
}
.bp-pt-56 {
  padding-top: 56px !important;
}
.bp-pb-56 {
  padding-bottom: 56px !important;
}
.bp-pl-56 {
  padding-left: 56px !important;
}
.bp-pr-56 {
  padding-right: 56px !important;
}
.bp-py-56 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}
.bp-px-56 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}
/*margin 64px*/
.bp-m-64 {
  margin: 64px !important;
}
.bp-mt-64 {
  margin-top: 64px !important;
}
.bp-mb-64 {
  margin-bottom: 64px !important;
}
.bp-ml-64 {
  margin-left: 64px !important;
}
.bp-mr-64 {
  margin-right: 64px !important;
}
.bp-my-64 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}
.bp-mx-64 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}
/*padding 64px*/
.bp-p-64 {
  padding: 64px !important;
}
.bp-pt-64 {
  padding-top: 64px !important;
}
.bp-pb-64 {
  padding-bottom: 64px !important;
}
.bp-pl-64 {
  padding-left: 64px !important;
}
.bp-pr-64 {
  padding-right: 64px !important;
}
.bp-py-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.bp-px-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}
/*margin 72px*/
.bp-m-72 {
  margin: 72px !important;
}
.bp-mt-72 {
  margin-top: 72px !important;
}
.bp-mb-72 {
  margin-bottom: 72px !important;
}
.bp-ml-72 {
  margin-left: 72px !important;
}
.bp-mr-72 {
  margin-right: 72px !important;
}
.bp-my-72 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}
.bp-mx-72 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}
/*padding 72px*/
.bp-p-72 {
  padding: 72px !important;
}
.bp-pt-72 {
  padding-top: 72px !important;
}
.bp-pb-72 {
  padding-bottom: 72px !important;
}
.bp-pl-72 {
  padding-left: 72px !important;
}
.bp-pr-72 {
  padding-right: 72px !important;
}
.bp-py-72 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}
.bp-px-72 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}
/*margin 80px*/
.bp-m-80 {
  margin: 80px !important;
}
.bp-mt-80 {
  margin-top: 80px !important;
}
.bp-mb-80 {
  margin-bottom: 80px !important;
}
.bp-ml-80 {
  margin-left: 80px !important;
}
.bp-mr-80 {
  margin-right: 80px !important;
}
.bp-my-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.bp-mx-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
/*padding 80px*/
.bp-p-80 {
  padding: 80px !important;
}
.bp-pt-80 {
  padding-top: 80px !important;
}
.bp-pb-80 {
  padding-bottom: 80px !important;
}
.bp-pl-80 {
  padding-left: 80px !important;
}
.bp-pr-80 {
  padding-right: 80px !important;
}
.bp-py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.bp-px-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
/*margin 88px*/
.bp-m-88 {
  margin: 88px !important;
}
.bp-mt-88 {
  margin-top: 88px !important;
}
.bp-mb-88 {
  margin-bottom: 88px !important;
}
.bp-ml-88 {
  margin-left: 88px !important;
}
.bp-mr-88 {
  margin-right: 88px !important;
}
.bp-my-88 {
  margin-top: 88px !important;
  margin-bottom: 88px !important;
}
.bp-mx-88 {
  margin-left: 88px !important;
  margin-right: 88px !important;
}
/*padding 88px*/
.bp-p-88 {
  padding: 88px !important;
}
.bp-pt-88 {
  padding-top: 88px !important;
}
.bp-pb-88 {
  padding-bottom: 88px !important;
}
.bp-pl-88 {
  padding-left: 88px !important;
}
.bp-pr-88 {
  padding-right: 88px !important;
}
.bp-py-88 {
  padding-top: 88px !important;
  padding-bottom: 88px !important;
}
.bp-px-88 {
  padding-left: 88px !important;
  padding-right: 88px !important;
}
/*margin 96px*/
.bp-m-96 {
  margin: 96px !important;
}
.bp-mt-96 {
  margin-top: 96px !important;
}
.bp-mb-96 {
  margin-bottom: 96px !important;
}
.bp-ml-96 {
  margin-left: 96px !important;
}
.bp-mr-96 {
  margin-right: 96px !important;
}
.bp-my-96 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}
.bp-mx-96 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}
/*padding 96px*/
.bp-p-96 {
  padding: 96px !important;
}
.bp-pt-96 {
  padding-top: 96px !important;
}
.bp-pb-96 {
  padding-bottom: 96px !important;
}
.bp-pl-96 {
  padding-left: 96px !important;
}
.bp-pr-96 {
  padding-right: 96px !important;
}
.bp-py-96 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}
.bp-px-96 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}
/*margin 104px*/
.bp-m-104 {
  margin: 104px !important;
}
.bp-mt-104 {
  margin-top: 104px !important;
}
.bp-mb-104 {
  margin-bottom: 104px !important;
}
.bp-ml-104 {
  margin-left: 104px !important;
}
.bp-mr-104 {
  margin-right: 104px !important;
}
.bp-my-104 {
  margin-top: 104px !important;
  margin-bottom: 104px !important;
}
.bp-mx-104 {
  margin-left: 104px !important;
  margin-right: 104px !important;
}
/*padding 104px*/
.bp-p-104 {
  padding: 104px !important;
}
.bp-pt-104 {
  padding-top: 104px !important;
}
.bp-pb-104 {
  padding-bottom: 104px !important;
}
.bp-pl-104 {
  padding-left: 104px !important;
}
.bp-pr-104 {
  padding-right: 104px !important;
}
.bp-py-104 {
  padding-top: 104px !important;
  padding-bottom: 104px !important;
}
.bp-px-104 {
  padding-left: 104px !important;
  padding-right: 104px !important;
}
/*margin 112px*/
.bp-m-112 {
  margin: 112px !important;
}
.bp-mt-112 {
  margin-top: 112px !important;
}
.bp-mb-112 {
  margin-bottom: 112px !important;
}
.bp-ml-112 {
  margin-left: 112px !important;
}
.bp-mr-112 {
  margin-right: 112px !important;
}
.bp-my-112 {
  margin-top: 112px !important;
  margin-bottom: 112px !important;
}
.bp-mx-112 {
  margin-left: 112px !important;
  margin-right: 112px !important;
}
/*padding 112px*/
.bp-p-112 {
  padding: 112px !important;
}
.bp-pt-112 {
  padding-top: 112px !important;
}
.bp-pb-112 {
  padding-bottom: 112px !important;
}
.bp-pl-112 {
  padding-left: 112px !important;
}
.bp-pr-112 {
  padding-right: 112px !important;
}
.bp-py-112 {
  padding-top: 112px !important;
  padding-bottom: 112px !important;
}
.bp-px-112 {
  padding-left: 112px !important;
  padding-right: 112px !important;
}
/*margin 120px*/
.bp-m-120 {
  margin: 120px !important;
}
.bp-mt-120 {
  margin-top: 120px !important;
}
.bp-mb-120 {
  margin-bottom: 120px !important;
}
.bp-ml-120 {
  margin-left: 120px !important;
}
.bp-mr-120 {
  margin-right: 120px !important;
}
.bp-my-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}
.bp-mx-120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}
/*padding 120px*/
.bp-p-120 {
  padding: 120px !important;
}
.bp-pt-120 {
  padding-top: 120px !important;
}
.bp-pb-120 {
  padding-bottom: 120px !important;
}
.bp-pl-120 {
  padding-left: 120px !important;
}
.bp-pr-120 {
  padding-right: 120px !important;
}
.bp-py-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}
.bp-px-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}
